header {
  background-color: #021C1E; }
  header .profilepic {
    display: block;
    margin: 10px, auto;
    border-radius: 100%;
    border: 2px black solid;
    float: none;
    padding: 0;
    overflow: hidden; }
    header .profilepic img {
      max-width: 100%;
      vertical-align: top; }

body {
  background-color: #A2AB2A;
  font-family: 'Josefin Sans', sans-serif;
  color: #F7840F; }

.btn {
  background-color: #F7840F;
  border: #F7840F;
  color: white; }

section .notes {
  background-color: white;
  width: 70%;
  padding: 0;
  margin: 0auto; }

section .workout {
  background-color: green; }
