$darkGreen: #858A30;
$medGreen: #A2AB2A;
$white:white;
$tangerine: #F7840F;


header{
  background-color:$darkGreen;
  height: 230px;

  .profilepic{
    display:block;
    margin:0 auto;
    // border-radius:100%;
    // border:2px white solid;
    float:none;
    overflow:hidden;
    padding: 10px 0 0 0;
img{
  margin: 0 auto;
  padding: 0;
  border-radius: 100%;
  max-height: 200px;
}
  }
}



.avatarPic{
  margin: 0auto;
  padding: 0;
}
.user{
  background-color:#858A30;
  border-bottom: 3px solid white;
  // padding:20px 0 20px 0;
  // height: 350px;
  // position: relative;
}
.quote{
  position: relative;
  background-color: white;
  text-align: center;
  // padding: 5px 0 5px 0;

}
body{
  background-color: #A2AB2A;
  font-family: 'Josefin Sans', sans-serif;
  color:#F7840F;
  margin: 0 auto;

}
.btn{
  background-color: #F7840F;
  border:#F7840F;
  color:white;
  margin: 0 auto;
}
.btn:hover{
  background-color: white;
  border: white;
  color:#F7840F;
  margin: 0 auto;
}
section{
  display: block;
    .notes{
      background-color: white;
      padding: 0;
      margin:5px;
      display: block;

    }
    .workout{
      background-color: white;
      padding: 2px;
      margin:5px;


    }

}

/******************************************
HEADER
*******************************************/

nav .col-md-12{
  padding:0;
  float:none;
  position: relative;
}
nav{
  text-decoration: none;
  float: none;
  li{
    display: inline-block;
    text-align: center;
    background-color: #F7840F;
    text-decoration: none;
    color: white;
    float: none;
    height: 40px;

  }
}
h3{
  margin-top: 3%;
}
.specific{
   float: none;
    padding:0;
    margin:0;
    a{
      padding-bottom: 10px;
    }
 }

.notes h3{
  margin: 0 auto;
  text-align: center;
}
.notes p{
  margin: 0 auto;
  text-align: center;
}
.workout h3{
  margin: 0 auto;
  text-align: center;
}
.workout p{
  margin: 0 auto;
  text-align: center;
}
.workout form{
  margin: 0 auto;
  text-align: center;
}
ul li{
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}
form{
  padding-top: 15px;
}
section  .login{
    background-color: white;
    width:40%;
    padding: 0;
    margin:0auto;
    display: block;
  }
.login input{
  display: block;
  width:250px;
  height:55px;
  font-size: 35px;
  margin:0 auto;
  padding: 0;
}
.login button{
  display: block;

  margin: 0 auto;
}

.pagecontent{
  border:5px solid #A2AB2A;
  min-height:100px;
  margin: 0 auto;
  padding: 0;
  float: none;
  width: 80%;
  .notebox{

  }
  // div{
  //   min-height:300px;
  // }
}

/***************************************
WORKOUT OF THE DAY section
***************************************/

#listWorkout{
  list-style:none;
  padding:0;
  .WorkItem{
    font-size:1.2em;
  }
}

.colorcontent{
  background-color:#F7840F;
  margin:0 auto;
  padding:0;
  padding-bottom:5px;
  float:none;
}
