header{
  background-color:#858A30;
  height: 230px;

  .profilepic{
    display:block;
    margin:10px, auto;
    // border-radius:100%;
    // border:2px white solid;
    float:none;
    overflow:hidden;
    padding: 10px 0 0 0;
img{
  margin: 0auto;
  padding: 0;
  border-radius: 100%;
}
  }
}
.user{
  border-bottom: 3px solid white;
  // padding:20px 0 20px 0;
  height: 300px;
  // position: relative;
}
.quote{
  position: relative;
  background-color: white;
  text-align: center;
  // padding: 5px 0 5px 0;

}
body{
  background-color: #A2AB2A;
  font-family: 'Josefin Sans', sans-serif;
  color:#F7840F;
  margin: 0 auto;

}
.btn{
  background-color: #F7840F;
  border:#F7840F;
  color:white;
  margin: 0 auto;
}
section{
    .notes{
      background-color: white;
      width:70%;
      padding: 0;
      margin:0auto;
    }
    .workout{
      background-color: green;
      background-color: white;
      width:70%;
      padding: 0;
      margin:0auto;
    }

}
form{
  padding-top: 15px;
}
section  .login{
    background-color: white;
    width:40%;
    padding: 0;
    margin:0auto;
    display: block;
  }
.login input{
  display: block;
  width:250px;
  height:55px;
  font-size: 35px;
  margin:0 auto;
  padding: 0;
}
.login button{
  display: block;

  margin: 0 auto;
}

.pagecontent{
  border:1px solid black;
  min-height:100px;
  div{
    border: 1px solid black;
    min-height:50px;

  }
}
