$darkGreen: #858A30;
$medGreen: #A2AB2A;
$white:white;
$tangerine: #F7840F;


/******************************************
OVERALL BODY
*******************************************/



body{
  background-color: $medGreen;
  font-family: 'Josefin Sans', sans-serif;
  color:$tangerine;
  margin: 0 auto;

}
.btn{
  background-color: $tangerine;
  border:$tangerine;
  color:white;
  margin: 0 auto;
}
.btn:hover{
  background-color: white;
  border: white;
  color:$tangerine;
  margin: 0 auto;
}

h3{
  margin-top: 3%;
}

ul li{
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}
form{
  padding-top: 15px;
  margin-left:10px;
}



/******************************************
HEADER
*******************************************/
.quoteHs{
      margin-top: 20px;
      margin-bottom: 10px;
      padding: 5px;
}


header{
  background-color:$darkGreen;
  height: 230px;

  .profilepic{
    display:block;
    margin:0 auto;
    float:none;
    overflow:hidden;
    padding: 10px 0 0 0;
      img{
        margin: 0 auto;
        padding: 0;
        border-radius: 100%;
        max-height: 200px;
      }
  }
}

.user{
  background-color:$darkGreen;
  border-bottom: 3px solid white;
}
.quote{
  position: relative;
  background-color: white;
  text-align: center;
}



/******************************************
LOGIN SCREEN
*******************************************/



section  .login{
    background-color: white;
    width:40%;
    padding: 0;
    margin:0auto;
    display: block;
  }
.login input{
  display: block;
  width:250px;
  height:55px;
  font-size: 35px;
  margin:0 auto;
  padding: 0;
}
.login button{
  display: block;

  margin: 0 auto;
}



/***************************************
  NAV
***************************************/



.noteBG{
  background-color:$tangerine;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50px;
}
.workBG{
  background-color:$medGreen;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 50px;
}
nav .col-md-12{
  padding:0;
  float:none;
  position: relative;
}
nav{
  text-decoration: none;
  float: none;
  li{
    display: inline-block;
    text-align: center;
    background-color: $tangerine;
    text-decoration: none;
    color: white;
    float: none;
    height: 40px;

  }
}



/***************************************
PAGE CONTENT SECTION
***************************************/



.pagecontent{
  border:5px solid $medGreen;
  min-height:100px;
  margin: 0 auto;
  padding: 0;
  float: none;
  width: 80%;
}

section{
  display: block;
    .notes{
      background-color: white;
      padding: 20px;
      margin:5px;
      display: block;
      height:460px;
      h3{
        margin: 0 auto;
        text-align: center;
      }
      p{
        margin: 0 auto;
        text-align: center;
      }

    }
    .workout{
      background-color: white;
      padding: 20px;
      margin:5px;
        h3{
          margin: 0 auto;
          text-align: center;
        }
        p{
          margin: 0 auto;
          text-align: center;
        }
        form{
          margin: 0 auto;
          text-align: center;
        }
    }
}

.specific{
   float: none;
    padding:0;
    margin:0;
    a{
      padding-bottom: 10px;
    }
 }

#listWorkout{
  list-style:none;
  padding:0;
  .WorkItem{
    font-size:1.2em;
    margin-top: 15px;
    padding:15px;
    border-top:$tangerine 1px solid;

  }
}

.colorcontent{
  background-color:$tangerine;
  margin:0 auto;
  padding:0;
  padding-bottom:5px;
  float:none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.worktype{
  text-decoration: underline;

}

/***************************************
NOTES
***************************************/


.noteable{
  height:320px;
  overflow:scroll;
  margin:10px;
  border:1px solid $tangerine;
  padding:10px;
  background-color:#EFEFEF;
  form{
    padding-top: 15px;
    padding-bottom:15px;
  }
  .noteItem{
    padding-top: 5px;
    margin-bottom: 15px;
    p{
      text-align: left;
    };
    span{
      font-weight:bold;
      margin-bottom:2px;
    }
  }
}
.deleteNote{
  float:right;
}


.footer{

  position: relative;
  width:100%;
  bottom:0;
  margin-top:50px;
  text-align: center;
  color:black;
  font-size: 1.2em;

}
