header {
  background-color: #858A30;
  height: 230px; }
  header .profilepic {
    display: block;
    margin: 10px, auto;
    float: none;
    overflow: hidden;
    padding: 10px 0 0 0; }
    header .profilepic img {
      margin: 0auto;
      padding: 0;
      border-radius: 100%; }

.user {
  border-bottom: 3px solid white;
  height: 300px; }

.quote {
  position: relative;
  background-color: white;
  text-align: center; }

body {
  background-color: #A2AB2A;
  font-family: 'Josefin Sans', sans-serif;
  color: #F7840F; }

.btn {
  background-color: #F7840F;
  border: #F7840F;
  color: white; }

section .notes {
  background-color: white;
  width: 70%;
  padding: 0;
  margin: 0auto; }

section .workout {
  background-color: green;
  background-color: white;
  width: 70%;
  padding: 0;
  margin: 0auto; }

section .login {
  background-color: white;
  width: 40%;
  padding: 0;
  margin: 0auto;
  display: block; }

.login input {
  display: block;
  width: 250px;
  height: 55px;
  font-size: 35px; }

.pagecontent {
  border: 1px solid black;
  min-height: 100px; }
  .pagecontent div {
    border: 1px solid black;
    min-height: 50px; }
