/******************************************
OVERALL BODY
*******************************************/
body {
  background-color: #A2AB2A;
  font-family: 'Josefin Sans', sans-serif;
  color: #F7840F;
  margin: 0 auto; }

.btn {
  background-color: #F7840F;
  border: #F7840F;
  color: white;
  margin: 0 auto; }


.btn:hover {
  background-color: white;
  border: white;
  color: #F7840F;
  margin: 0 auto; }

h3 {
  margin-top: 3%; }

ul li {
  margin: 0 auto;
  text-align: center;
  text-decoration: none; }

form {
  padding-top: 15px;
  margin-left: 10px; }

/******************************************
HEADER
*******************************************/
.quoteHs {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px; }

header {
  background-color: #858A30;
  height: 230px; }
  header .profilepic {
    display: block;
    margin: 0 auto;
    float: none;
    overflow: hidden;
    padding: 10px 0 0 0; }
    header .profilepic img {
      margin: 0 auto;
      padding: 0;
      border-radius: 100%;
      max-height: 200px; }

.user {
  background-color: #858A30;
  border-bottom: 3px solid white; }

.quote {
  position: relative;
  background-color: white;
  text-align: center; }

/******************************************
LOGIN SCREEN
*******************************************/
.error {
  text-align: center; }

section .login {
  background-color: white;
  width: 40%;
  padding: 0;
  margin: 0auto;
  display: block; }

.login input {
  display: block;
  width: 250px;
  height: 55px;
  font-size: 35px;
  margin: 0 auto;
  padding: 0; }

.login button {
  display: block;
  margin: 0 auto; }

/***************************************
  NAV
***************************************/
.noteBG {
  background-color: #F7840F;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50px; }

.workBG {
  background-color: #A2AB2A;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 50px; }

nav .col-md-12 {
  padding: 0;
  float: none;
  position: relative; }

nav {
  text-decoration: none;
  float: none; }
  nav li {
    display: inline-block;
    text-align: center;
    background-color: #F7840F;
    text-decoration: none;
    color: white;
    float: none;
    height: 40px; }

/***************************************
PAGE CONTENT SECTION
***************************************/
.pagecontent {
  border: 5px solid #A2AB2A;
  min-height: 100px;
  margin: 0 auto;
  padding: 0;
  float: none;
  width: 80%; }

section {
  display: block; }
  section .notes {
    background-color: white;
    padding: 20px;
    margin: 5px;
    display: block;
    height: 460px; }
    section .notes h3 {
      margin: 0 auto;
      text-align: center; }
    section .notes p {
      margin: 0 auto;
      text-align: center; }
  section .workout {
    background-color: white;
    padding: 20px;
    margin: 5px; }
    section .workout h3 {
      margin: 0 auto;
      text-align: center; }
    section .workout p {
      margin: 0 auto;
      text-align: center; }
    section .workout form {
      margin: 0 auto;
      text-align: center; }

.specific {
  float: none;
  padding: 0;
  margin: 0; }
  .specific a {
    padding-bottom: 10px; }

#listWorkout {
  list-style: none;
  padding: 0; }
  #listWorkout .WorkItem {
    font-size: 1.2em;
    margin-top: 15px;
    padding: 15px;
    border-top: #F7840F 1px solid; }

.colorcontent {
  background-color: #F7840F;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 5px;
  float: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; }

.worktype {
  text-decoration: underline; }

/***************************************
NOTES
***************************************/
.noteable {
  height: 320px;
  overflow: scroll;
  margin: 10px;
  border: 1px solid #F7840F;
  padding: 10px;
  background-color: #EFEFEF; }
  .noteable form {
    padding-top: 15px;
    padding-bottom: 15px; }
  .noteable .noteItem {
    padding-top: 5px;
    margin-bottom: 15px; }
    .noteable .noteItem p {
      text-align: left; }
    .noteable .noteItem span {
      font-weight: bold;
      margin-bottom: 2px; }

.deleteNote {
  float: right; }

.theLOGout a {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  padding-left: 270px;
  color: #F7840F; }

/***************************************
FOOTER
***************************************/
.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 50px;
  text-align: center;
  color: black;
  font-size: 1.2em; }

.copyright {
  opacity: 0.3; }
